<div class="lg:[ml-12rem]  relative mt-12 mb-8 xl:mb-[4rem] ml-12 flex items-center justify-center">

  <div class="absolute w-full ">
    <h1 class="mb-1 text-center text-[1.3rem] sm:text-2xl font-extrabold lg:text-3xl">
      Welcome to InsightHub Blog
    </h1>
    <p class="text-center text-xl lg:text-3xl">
      Discover, Explore, and Stay Informed
    </p>
  </div>
  <img
    src="https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="Blog Categories Image"
    loading="lazy"
    class="h-[300px] w-full object-cover shadow-lg lg:h-[50vh]"
  />

</div>
